html,body {
	margin:0px;
}
* {
	font-family: sans-serif;
	font-size:1rem;
	color:#333;
}
#info {
	position:absolute;
	width:200px;
	height:100%;
	top:30px;
	left:0;
	background-color:rgba(200,200,200,0.5);
	z-index:10;
}
#login {
	height:1.5em;
	background-color:rgba(250,250,250,0.5);
}

.buttonGroup {
	background-color:rgba(127,127,127,0.25);
	margin:1px 1rem;
	padding:1px;
}
.selected {
	background-color:#57d1df;
	border-radius:100px;
}

#regionList {
	position:relative;
	min-height:30px;
	background-color:rgba(250,250,250,0.5);
	border:0;
}
#regionPicker {
	position:absolute;
	width:200px;
	height:100%;
	top:0;
	left:200px;
	background-color:rgba(200,200,200,0.5);
	padding:5px;
	display:none;
	overflow-y:scroll;
}
.region-tag {
	position: relative;
}
.region-color {
	width:1.5rem;
	height:1.5rem;
	border:thin solid grey;
	display:inline-block;
	vertical-align:middle;
}
.region-tag.selected {
	background-color:rgba(255,255,255,0.75);
}
.region-tag.deselected {
	background-color:transparent;
}
.table {
	display:table;
	table-layout:fixed;
}
.row {
	display:table-row;
}	
.cell {
	display:table-cell;
	width:100%;
}
.overlay {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}
#logo {
	position:absolute;
	bottom:5px;
	right:5px;
    -webkit-filter: drop-shadow( 2px 2px 2px #777 );
    -moz-filter: drop-shadow( 2px 2px 2px #777 );
    filter: drop-shadow( 2px 2px 2px #777 );
}