_old
_rsrc
_test
bigbrain
bigbrain.json
./data
ferret
ferret1
final.zip
github-keys.json
macaque
microdraw_me.js
microdrawNotes.txt
node_modules
npm-debug.log
php/base.php
vervet
vervet.zip
test/*.png
.DS_Store
.vscode
access.log
package-lock.json
app/controller/api/tmp
