_old
_rsrc

bigbrain
macaque
doc

bigbrain/bigbrain.json
bigbrain.json

final.zip
node_modules

php/base.php

base.js

microdraw_me.js

configuration.json

microdrawNotes.txt

favicon.ico
.*
!.gitignore

data