html body 
{
	font-family: sans-serif;
	font-size: 1.1rem;
	margin: 0px;
}
/*
.selected {
	background-color: orange
}
*/


button 
{
	width: 32px;
	height: 32px;
	margin: 2px 2px;
	padding: 3px 3px;
	border: 1px solid grey;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size: 1.1rem;
	/*background-color:white;*/
}

#info
{
	width: 200px;
	height: 100%;
	background-color: rgba(200,200,200,0.5);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
}

#myNavigator 
{
	width: 200px;
	height: 150px;
}

#zoom
{ 
	color: transparent; background: url("images/zoom.png"); 
}
#zoom.selected
{
	color: transparent; background: url("images/zoom_selected.png");
}
#home
{ 
	color: transparent; background: url("images/home.png"); 
}
#home.selected
{ 
	color: transparent; background: url("images/home_selected.png"); 
}
#zoom-in
{ 
	color: transparent; background: url("images/zoom-in.png");
}
#zoom-in.selected
{
	color: transparent; background: url("images/zoom-in_selected.png");
}
#zoom-out
{ 
	color: transparent; background: url("images/zoom-out.png"); 
}
#zoom-out.selected
{
	color: transparent; background: url("images/zoom-out_selected.png");
}
#select
{ 
	color: transparent; background: url("images/select.png"); 
}
#select.selected
{ 
	color: transparent; background: url("images/select_selected.png"); 
}
#draw
{ 
	color: transparent; background: url("images/draw.png"); 
}
#draw.selected
{ 
	color: transparent; background: url("images/draw_selected.png"); 
}
#delete
{ 
	color: transparent; background: url("images/delete.png"); 
}
#delete.selected
{ 
	color: transparent; background: url("images/delete_selected.png"); 
}
#addregion
{ 
	color: transparent; background: url("images/addregion.png"); 
}
#addregion.selected
{ 
	color: transparent; background: url("images/addregion_selected.png"); 
}
#delregion
{ 
	color: transparent; background: url("images/delregion.png"); 
}
#delregion.selected
{ 
	color: transparent; background: url("images/delregion_selected.png"); 
}
#addpoint
{ 
	color: transparent; background: url("images/addpoint.png"); 
}
#addpoint.selected
{ 
	color: transparent; background: url("images/addpoint_selected.png"); 
}
#delpoint
{ 
	color: transparent; background: url("images/delpoint.png"); 
}
#delpoint.selected
{ 
	color: transparent; background: url("images/delpoint_selected.png"); 
}
#splitregion
{ 
	color: transparent; background: url("images/split.png"); 
}
#splitregion.selected
{ 
	color: transparent; background: url("images/split_selected.png"); 
}
#save
{ 
	color: transparent; background: url("images/keep.png"); 
}
#save.selected
{ 
	color: transparent; background: url("images/keep_selected.png"); 
}

#regionList 	/*list of created regions (first just "untitled")*/
{
	width: 200px;
	min-height: 30px;
	background-color: rgba(200,200,200,0.5);
	border: thin solid lightGrey;
	position: relative;
}
#regionPicker 	/*pop up ontology list pointing to your selected region in the list of untitled regions*/
{
	width: 200px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: -230px;
	margin-top: -40px;
	border: thin solid black;
	background-color: white;
	padding: 5px;
	overflow-y: scroll;
}

#decoration 
{
	position: absolute;
	left: 210px;
	top: 0;
	margin-top: 20px;
}
.region-tag 	
{
	position: relative;
	padding: 2px;
}
.region-name 
{
	font-family: sans-serif;
	font-size: 1.1rem;
}
.region-color 
{
	width: 1.5rem;
	height: 1.5rem;
	border: thin solid grey;
	display: inline-block;
	vertical-align: middle;
}
.region-category 
{
	padding-top: 10px;
	padding-bottom: 4px;
}