<!-- Login (fixed height) -->
<!-- Top-right menu bar -->
<!-- Which one is it? Make up your mind =.= -->
<div id="menu">
    <div>
        <img id="addProject" class="button" title="add a project" src='/img/plus.svg'/>
        <a href="doc" target="_blank"><img id="doc" class="button" title="documentation" src='/img/doc.svg'/></a>
        <a href="https://github.com/r03ert0/microdraw/issues" target="_blank"><img id="bug" class="button" title="report a bug" src='/img/bug.svg'/></a>
        <a href="https://github.com/r03ert0/microdraw" target="_blank"><img id="github" class="button" title="join our github project" style='width:15px;height:15px' src='/img/github.svg'/></a>
        <div id="MyLogin" style="padding-right:10px">
            {{#user}}
            <a href = "/user/{{{user.username}}}">{{{user.username}}}</a>
            (<a href = "/logout">Log Out</a>)
            {{/user}}
            {{^user}}
            {{ #loginMethods }}
            <a href = "{{{ url }}}">{{ text }}</a>
            {{ /loginMethods }}
            {{/user}}
        </div>
    </div>
</div>

<script>
document.addEventListener('click', function(ev) {
    if(!ev.target.matches('#addProject')) {
        return;
    }
    ev.preventDefault();
    location.href = "/project/new";
})
</script>