<html>
<body data-toolbarDisplay="left">
<link rel="stylesheet" href="/css/microdraw.css" type="text/css" />
<div id="microdrawView" style="width:100%;height:100%;position:relative">

    <!-- Toolbar -->
    <div id="menuBar" class="table">
    {{> partials/toolsFull}}
    </div>

    <!-- OpenSeadragon viewer -->
    <div id="openseadragon1" style="width:100%;height:100%;background:white">
    </div>

    <!-- paperjs container -->
    <div id = "paperjs-container">
    </div>

    <!-- alert/info box after saving -->
    <div id="saveDialog"></div>
</div>

<script src="/js/microdraw.js"></script>
</body>
</html>

