html,body {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    background:#222;
    color:white;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
input, select {
    color: white;
    font-size: 1rem;
}
h1 {
    font-size: 1.2rem;
    text-align:center;
}
h2, p {
    font-size: 1rem;
    text-align:center;
}
a {
    color:white;
}
.linkNoULine {
    text-decoration: none;
    font-weight: lighter;
}

#menu {
    float: right;
    margin-right: 10px;
}
#menu img{
     margin-left: 15px;
}
#MyLogin {
     display:inline-block;
     margin-left:15px;
}

tr.selected{
    background-color:#444;
}
