<?php
session_start();
$dbhost = "localhost";     // this will ususally be 'localhost', but can sometimes differ
$dbuser = "your_username"; // the username that you created, or were given, to access your database
$dbpass = "your_password"; // the password that you created, or were given, to access your database
$dbname = "Interact";      // DB name to save annotations
$dblogin = "MyUsers";      // DB table containing users
?>