<!DOCTYPE html>
<html>

<head>
    {{> partials/header }}
    <link rel="stylesheet" href="css/microdraw.css" type="text/css" />
    <link rel="stylesheet" href="css/data-style.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- Header (fixed height) -->
<div id="header">
    {{> partials/menu }}

    <!-- Small left-top logo -->
    <div style="display:inline-block;margin:10px">
        <a href='/' style="text-decoration:none">
            <img style='height:28px;vertical-align:middle' src='/img/microdraw-white.svg'/>
        </a><span id="fontLogo">
            <a href='/' style="font-family: Roboto, sans-serif; font-size: 28px; font-weight:100; text-decoration:none;vertical-align:middle">MicroDraw</a>
        </span>
    </div>
</div>

{{> partials/microdraw}}

<script>
    Microdraw.init();
</script>

</body>

</html>
