<!DOCTYPE html>
<html>

<head>
    {{> partials/header }}
    <link rel="stylesheet" type="text/css" href="/css/ui.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/user-style.css" />
</head>

<body>

<div id="app"></div>
<script type="text/html" id="template">
<UserPage :user='userInfo'>
    <template v-slot:side>
        [[projects.length]] Projects
    </template>
    <template v-slot:content>
        <Tabs>
             <Tab title="Datasets">
                <Table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Dimensions</th>
                            <th>Included</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="file in files">
                            <td>[[file.name]]</td>
                            <td>[[file.dimensions]]</td>
                            <td>[[file.included]]</td>
                        </tr>
                    </tbody>
                </Table>
             </Tab>
             <Tab title="Atlas Files">
                <Table>
                    <thead>
                        <tr>
                            <th>Parent Dataset</th>
                            <th>Name</th>
                            <th>Project</th>
                            <th>Last modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="at in atlas">
                            <td>[[at.parent]]</td>
                            <td>[[at.name]]</td>
                            <td>[[at.project]]</td>
                            <td>[[at.lastModified]]</td>
                        </tr>
                    </tbody>
                </Table>
             </Tab>
            <Tab title="Projects">
                <Table id="projects">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Files</th>
                            <th>Collaborators</th>
                            <th>Owner</th>
                            <th>Last modified</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr v-for="project in projects">
                        <td>
                            <a :href="`/project/${project.shortname}/settings`" class="settings">
                                <img style="width:11px; margin:3px 8px 0 0" src="/img/settings.svg"/>
                            </a>
                            <a :href="`/project/${project.shortname}`">
                                [[project.name]]
                            </a>
                        </td>
                        <td>[[project.numFiles]]</td>
                        <td>[[project.numCollaborators]]</td>
                        <td>
                            <a :href="`/user/${project.owner}`">
                                [[project.owner]]
                            </a>
                        </td>
                        <td>[[project.modified]]</td>
                    </tr>
                    </tbody>
                </Table>
            </Tab>
       </Tabs>
    </template>
</UserPage>
</script>
<style>
#projects {
    table-layout: auto;
}
#projects td {
    padding: 0 4px;
}
#projects a {
    text-decoration: none;
}
.settings {
    opacity: 0.5;
    transition: opacity 500ms;
}
.settings:hover {
    opacity: 1;
}
</style>

<script>
const userInfo={{{userInfo}}};
const loggedUser={{{loggedUser}}};
</script>
<script src="/js/pages/user-page.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50078058-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
