<!DOCTYPE html>
<html>

<head>
    {{> partials/header }}
    <link rel="stylesheet" type="text/css" href="/css/ui.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/user-style.css" />
</head>

<body>

<div id="app" style="width:100%;height:100%;display:flex;flex-direction:column">

    <!-- Header (fixed height) -->
    <div id="header">
        <!-- Top-right menu bar -->
        <div id="menu">
            <img id="addProject" class="button" title="add project" src='/img/plus.svg'/>
            <img id="doc" class="button" title="documentation" src='/img/doc.svg'/>
            <a href="https://github.com/r03ert0/microdraw/issues" target="_blank"><img id="bug" class="button" title="report a bug" src='/img/bug.svg'/></a>
            <a href="https://github.com/r03ert0/microdraw" target="_blank"><img id="github" class="button" title="join our github project" style='width:15px;height:15px' src='/img/github.svg'/></a>
            <div id="MyLogin">
                <span>{{{login}}}</span>
            </div>
        </div>

        <!-- Small left-top logo -->
        <div style="display:display;margin:10px">
            <a href='/' style="text-decoration:none">
                <img style='height:56px;vertical-align:middle' src='/img/microdraw-white.svg'/>
            </a><span style="font-family: Roboto, sans-serif; font-size: 36px; font-weight:100;vertical-align:middle" id="fontLogo"> 
                <a href='/' style="font-family: Roboto, sans-serif; font-size: 36px; font-weight:100; text-decoration:none">{{nickname}}</a>
            </span>
        </div>
    </div>

    <!-- Content (variable height) -->
    <div id="content" style="flex:1 0 auto;justify-content:center">
        <!-- to center -->
        <!--<table style="margin:auto;width:1000px">-->
        <div id="centeringDiv">
            
            <!-- User Image -->
            <div id="userImage">
                <img src='{{{avatar}}}' style="width:100%"/>
            </div>
            <!-- end of User Image -->
            
            <!-- #userDescription -->
            <div id="userDescription">
                <h1>{{username}}</h1>
                <h2>{{nickname}}</h2>
                <p>{{joined}}</p>
                <p>[[userInfo.dataFiles.length]] Datasets</p>
                <p>[[userInfo.atlasFiles.length]] Atlas Files</p>
                <p>[[userInfo.projects.length]] Projects</p>
            </div>
            <!-- end of #userDescription -->

            <!-- #userTable -->
             <div id="userTable">
                <!-- Tab heads -->
                <div>
                    <a class="tab" value='data'>Datasets</a>
                    <a class="tab" value='atlas'>Atlas Files</a>
                    <a class="tab" value='projects'>Projects</a>
                </div>
        
                <!-- Tab contents -->
                <div style="width:calc(100% - 40px);min-height:400px;background:#333;padding:20px">
        
                    <!-- Tab Content 1: Data Files -->
                    <table id="dataFiles" class="tabContent" style="padding:10px;display:none">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Dimensions</th>
                                <th>Included</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="val in userInfo.dataFiles">
                                <td>[[val.name]]</td>
                                <td>[[val.dimensions]]</td>
                                <td>[[val.included]]</td>
                            </tr>
                        </tbody>
                    </table>
            
                    <!-- Tab Content 2: Atlas Files -->
                    <table id="atlasFiles" class="tabContent" style="padding:10px;display:none">
                        <thead>
                            <tr>
                                <th>Parent Dataset</th>
                                <th>Name</th>
                                <th>Project</th>
                                <th>Last modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="val in userInfo.atlasFiles">
                                <td>[[val.parent]]</td>
                                <td>[[val.name]]</td>
                                <td>[[val.project]]</td>
                                <td>[[val.lastModified]]</td>
                            </tr>
                        </tbody>
                    </table>
            
                    <!-- Tab Content 3: Projects -->
                    <table id="projects" class="tabContent" style="padding:10px;display:none">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Files</th>
                                <th>Collaborators</th>
                                <th>Owner</th>
                                <th>Last modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="val in userInfo.projects">
                                <td>
                                    <div style="position:relative">
                                        <a class="projectName" style="margin-left:15px" :href="[['/project/'+val.shortname]]">
                                            [[val.name]]
                                        </a>
                                        <a
                                            class="settings"
                                            :href="[['/project/'+val.shortname+'/settings']]"
                                            style="position:absolute;top:0;left:0"
                                        >
                                            <img style="width:11px; margin:3px 8px 0 0" src="/img/settings.svg"/>
                                        </a>
                                    </div>
                                </td>
                                <td>[[val.files.list.length]]</td>
                                <td>[[val.collaborators.list.length]]</td>
                                <td>[[val.owner]]</td>
                                <td>[[val.created]]</td>
                            </tr>
                        </tbody>
                    </table>
            
                </div>
            </div>
            <!-- end of #userTable -->
        </div>
    </div>
    <!-- End Content -->
    
    <!-- Space (fixed height) -->
    <div style="flex:0 0 50px">
    </div>

    <!-- Footer (fixed height) -->
    <div style="flex:0 0 100px;background-color:#000">
        <p style="width:100%;font-size:small;text-align:center"> 
            <a target="_blank" href="http://neuroanatomy.github.io">
                <img src="/img/naat-bw.svg" style="width:28px;height:28px;margin-right:4px;display:display;vertical-align:middle"/></a>
            <a target="_blank" href="http://neuroanatomy.github.io" class="linkNoULine">
                groupe de neuroanatomie appliquée et théorique
            </a>
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--<script src="http://localhost/libs/vue/2.4.2/vue.min.js"></script>-->

<script>
var userInfo='{{{userInfo}}}';
userInfo=JSON.parse(userInfo);
userInfo.dataFiles = [];
userInfo.atlasFiles = [];
userInfo.projects = [];
</script>

<script>
var app = new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  data: {
    userInfo: userInfo,
    message: "hello"
  }
});

var cursorFiles = 0;
var cursorAtlas = 0;
var cursorProjects = 0;

// switch tabs
for(let tab of document.querySelectorAll("a.tab")) {
    tab.addEventListener('click', () => {
        for(let tab2 of document.querySelectorAll("a.tab")) {
            tab2.classList.remove('selected');
        }
        tab.classList.add("selected");
        for(con of document.querySelectorAll(".tabContent")) {
            con.style.display = 'none';
        }
        selectTab(tab.getAttribute('value'));
    });
}
selectTab('{{tab}}');

queryFiles();
queryAtlas();
queryProjects();

document.querySelector("#addProject").addEventListener('click', () => {location="/project/new"});

function selectTab(tab) {
    for(tab2 of document.querySelectorAll(".tab")) {
        tab2.classList.remove("selected");
    }
    switch(tab) {
        case "data":
            document.querySelectorAll(".tab")[0].classList.add("selected");
            document.querySelector("#dataFiles").style.removeProperty('display');
            break;
        case "atlas":
            document.querySelectorAll(".tab")[1].classList.add("selected");
            document.querySelector("#atlasFiles").style.removeProperty('display');
            break;
        case "projects":
            document.querySelectorAll(".tab")[2].classList.add("selected");
            document.querySelector("#projects").style.removeProperty('display');
            break;
    }
}
function queryFiles() {
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
        if (xhr.status >= 200 && xhr.status < 300) {
            const res = JSON.parse(xhr.responseText);
            //if(res.success) {
            //    appendFiles(res.list);
            //    cursorFiles += 100;
            //    queryFiles();
            //}
            appendFiles(res.list);
        } else {
            console.log('The request failed!');
        }
    };
    xhr.open('GET', `/user/json/{{nickname}}/files?start=${cursorFiles}&length=100`);
    xhr.send();
}
function appendFiles(list) {
    app.userInfo.dataFiles.push.apply(app.userInfo.dataFiles, list);
}
function queryAtlas(list) {
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
        if (xhr.status >= 200 && xhr.status < 300) {
            const res = JSON.parse(xhr.responseText);
            //if(res.success) {
            //    appendAtlas(res.list);
            //    cursorAtlas += 100;
            //    queryAtlas();
            //}
            appendAtlas(res.list);
        } else {
            console.log('The request failed!');
        }
    };
    xhr.open('GET', `/user/json/{{nickname}}/atlas?start=${app.userInfo.atlasFiles.length}&length=100`);
    xhr.send();
}
function appendAtlas(list) {
    app.userInfo.atlasFiles.push.apply(app.userInfo.atlasFiles, list);
}
function queryProjects() {
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
        if (xhr.status >= 200 && xhr.status < 300) {
            const res = JSON.parse(xhr.responseText);
            //if(res.success) {
            //    appendProjects(res.list);
            //    cursorProject += 100;
            //    queryProjects();
            //}
            appendProjects(res.list);
        } else {
            console.log('The request failed!');
        }
    };
    xhr.open('GET', `/user/json/{{nickname}}/projects?start=${app.userInfo.projects.length}&length=100`);
    xhr.send();
}
function appendProjects(list) {
    app.userInfo.projects.push.apply(app.userInfo.projects, list);
}
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50078058-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
